{%  load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8" />
   <title>Administration - Data Parsing Administrator</title>

 <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
 <script src="{% static 'js/jquery-ui.js' %}"></script>
 <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"  />
 <link href="{% static 'css/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet"  />

   
  <script>
  $(function() {
    $( "#tabs" ).tabs( );
  });


  </script>
  
  <style>
	textarea
	{
		border:1px solid #999999;
		width:100%;
		height:300px !important;
		margin:1px 0;
		padding:3px;
	}
	 
	
  </style>
</head>
<body>

 <!-- Logout form -->
 <form name="logoutform" id="logoutform" method="post" action="logout" >
    <button style="margin-left:10px; margin-top:10px; margin-bottom:10px; align:right" class="btn btn-primary" type="submit">Logout</button>
 </form>


<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Sitemap File</a></li>
    <li><a href="#tabs-2">URL File</a></li>
    <li><a href="#tabs-3">Settings</a></li>
    <li><a href="#tabs-4">Script execution</a></li>
  </ul>
  <div id="tabs-1">
    <form name="sitemapform" id="sitemapform" method="post" action="sitemapurlview">
		<textarea name="sitemapfiledata" id="sitemapfiledata" autofocus class="form-control" width="100%" placeholder="Enter list of domains here. Ex. http://www.foo.com" >{{ sitemapurldata }}
		</textarea>
		<hr/>
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
	 
  </div>
  <div id="tabs-2">
    <form name="urlsform" id="urlsform" method="post" action="saveurl">
		<textarea name="urlfiledata" id="urlfiledata" class="form-control" width="100%" placeholder="Enter list of urls here. Ex. http://www.foo.com/recipes/myrecipe.html" >{{ urlfiledata }}</textarea>
		<hr/>
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
  </div>
  <div id="tabs-3">
	<form name="settingsform" id="settingsform" method="post" action="settings">
		<table style="width:100%" cellspacing="0" cellpadding="0" border="0">
			
			
			<!-- Credential settings -->
			<tr>
				<td width="10%">Username</td>
				<td align="left" width="84%"><input class="form-control" type="text" name="username" id="username" placeholder="Username" autofocus required/></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input class="form-control" type="password"  name="password" id="password" placeholder="Password" required/></td>
			</tr>
			
			<tr><td colspan="2"><hr/></td></tr>
		
			<tr>
				<td>Sitemapfile Path</td>
				<td><input class="form-control" type="text" value="{{ sitemapfilepath }} "name="sitemapurlfilepath" id="sitemapurlfilepath" width="100%" placeholder="Path to file containing domains" /></td>
			</tr>
			
			<tr><td colspan="2"><hr/></td></tr>
			
			<tr>
				<td>Urlfile Path</td>
				<td><input class="form-control" type="text" value="{{ urlfilevalue }}" name="urlfilepath" id="urlfilepath" width="100%" placeholder="Path to file containing individual recipe urls" /></td>
			</tr>
			
			<tr><td colspan="2"><hr/></td></tr>
			
		</table>
		
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
  </div>
  <div id="tabs-4">


      <!--
      <form id="frmexecutescript" method="post" action="executescript">
            <input type="submit" value="Execute script" id="btnExecuteScript" />
      </form> -->

      <form name="cronjobform" id="cronjobform" method="post" action="executescript">

          <p>Click here to run script as a cron job</p>
          <input type="checkbox" name="croncheck" id="croncheck" />
      <hr/>
		<table style="width:100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="10%">Minute</td>
				<td align="left" width="50%"><input class="form-control" type="text" name="minute" id="minute" placeholder="Minute" autofocus required/></td>
			</tr>
			<tr>
				<td>Hour</td>
				<td><input class="form-control" type="text"  name="hour" id="hour" placeholder="Hour" required/></td>
			</tr>
            <tr>
				<td>Day of month</td>
				<td><input class="form-control" type="text"  name="dom" id="dom" placeholder="Day of month" required/></td>
			</tr>
            <tr>
				<td>Month</td>
				<td><input class="form-control" type="text"  name="month" id="month" placeholder="Month" required/></td>
			</tr>
            <tr>
				<td>Day of week</td>
				<td><input class="form-control" type="text"  name="dow" id="dow" placeholder="Day of week" required/></td>
			</tr>

			<tr><td colspan="2"><hr/></td></tr>



			<tr><td colspan="2"><hr/></td></tr>


			<tr><td colspan="2"><hr/></td></tr>

		</table>

		<button class="btn btn-primary" type="submit">Execute Script</button>
	</form>

  </div>
</div>
 
 
</body>
</html>