{% extends 'admin/users/admin_base.html' %}
{% block css_theme_styles %}
<!-- BEGIN THEME STYLES -->
<link href="{{ STATIC_URL }}admin/css/style-metronic.css" rel="stylesheet" type="text/css"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
<link href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}admin/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}admin/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{{ STATIC_URL }}admin/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
{% endblock %}
{% block content_body %}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

			<!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">Reading Settings &nbsp;</h3>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>

			<!-- BEGIN PAGE CONTENT-->
<!--This is the error block -->
                    <div class="note note-success error">

            		</div>
<!--This is the success block -->
                    <div class="note note-success success">
                        success message
            		</div>


        <form method="post" id="reading_form" action="">{% csrf_token %}

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-10">
                    <label class="control-label" for="title"><b>Front page displays</b></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-xs-12 margin-bottom-10">
                    <input type="radio" id="latest_post" name="show_on_front_text" class="make-switch switch-radio1" {% if show_on_front == 'latest_post' %}checked{% endif %}>Your latest posts <br><br>
                    <input type="radio" id="static_page" name="show_on_front_text" class="make-switch switch-radio1" {% if show_on_front == 'static_page' %}checked{% endif %}>A <a href="#">static page</a>(select below)<br><br>
                    <input type="hidden" name="show_on_front" id="show_on_front" value="{{ show_on_front }}"/>

                    Front page:
                    <select id="page_on_front" name="page_on_front">
                        <option>-select-</option>
                        <option value="Sample Page" {% if page_on_front == 'Sample Page' %}selected{% endif %}>Sample Page</option>
                    </select><br><br>
                    Posts page:
                    <select id="page_on_post" name="page_on_post">
                        <option>-select-</option>
                        <option value="Sample Page" {% if page_on_front == 'Sample Page' %}selected{% endif %}>Sample Page</option>
                    </select>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-10">
                    <label class="control-label" for="title"><b>Block pages show at most</b></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-xs-12 margin-bottom-10">
                    <input type="text" name="posts_per_page" id="posts_per_page" class="media_small_width" value="{{ posts_per_page }}"/>&nbsp;&nbsp;posts
                    <br>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-10">
                    <label class="control-label" for="title"><b>Syndication feeds show the most recent</b></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-xs-12 margin-bottom-10">
                    <input type="text" name="posts_per_rss" id="posts_per_rss" class="media_small_width" value="{{ posts_per_rss }}"/>&nbsp;&nbsp;posts
                    <br>
                </div>
            </div><br><br>


            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-10">
                    <label class="control-label" for="title"><b>For each article in a feed, show</b></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-xs-12 margin-bottom-10">
                     <input type="radio" id="full_page" name="rss_use_excerpt" class="make-switch switch-radio1" {% if rss_text == 'full_page' %}checked{% endif %}>Full text <br><br>
                    <input type="radio" id="static_below" name="rss_use_excerpt" class="make-switch switch-radio1" {% if rss_text == 'static_below' %}checked{% endif %}>Summary <a href="#">static page</a>(select below)<br><br>
                    <input type="hidden" id="rss_text" name="rss_text"/>
                    <br>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-bottom-10">
                    <label class="control-label" for="title"><b>Search Engine Visibility</b></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-xs-12 margin-bottom-10">
                    <input type="checkbox" name="blog_public" id="blog_public"
                            {% if blog_public == 'on' %}checked{% endif %}/>
                    Discourage search engine from indexing this site<br>
                    it is upto search engine to honour this request.
                    <br>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                    <button type="button" id="submit_btn" class="btn btn-info">Save Changes</button>
                </div>
            </div>
        </form>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
    {% endblock %}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
{% block js_page_level_plugins %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!--<script src="{{ STATIC_URL }}admin/plugins/flot/jquery.flot.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}admin/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}admin/plugins/flot/jquery.flot.categories.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}
{% block js_page_level_scripts %}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ STATIC_URL }}admin/js/core/app.js"></script>
<script src="{{ STATIC_URL }}admin/js/custom/ecommerce-index.js"></script>

<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        // initiate layout and plugins
        App.init();
    });
    $(document).ready(function() {
        // Initialize appendGrid
        /**
         * Required for Django's CSRF protection when using AJAX
         * Taken from here - http://docs.djangoproject.com/en/dev/ref/contrib/csrf/
         */


        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
        });

{#    To make select box disable when first radio button is checked and set value of hidden textbox#}
        if ($("#latest_post").is(":checked")){
            $('#page_on_front').prop('disabled',true);
            $('#page_on_post').prop('disabled',true);
        }

        $('#latest_post').on('change',function(){
            $('#page_on_front').prop('disabled',true);
            $('#page_on_post').prop('disabled',true);
            $('#show_on_front').val('latest_post');
        });

        $('#static_page').on('change',function(){
            $('#page_on_front').prop('disabled',false);
            $('#page_on_post').prop('disabled',false);
            $('#show_on_front').val('static_page');

        });

        $('#full_page').on('change',function(){
            $('#rss_text').val('full_page');
        });

        $('#static_below').on('change',function(){
            $('#rss_text').val('static_below');
        });

        $('#submit_btn').click(function () {
            var data = JSON.stringify($('form').serializeObject());
            $(".error").empty();
            var parsedData = JSON.parse(data);

                    $(".error").hide();
                    $.ajax( {
                        type: "POST",
                        dataType: "text",
                        url: "{% url "reading_setting" %}",
                        data:{reading_setting:data},
                        success: function(result) {
                            if(result == "ok"){
                                $(".success").html("<b>Setting saved</b>").show();
                                $('html, body').animate({
                                    scrollTop: $(".success").offset().top - 100
                                }, 1000);
                            }
                            else{
                                $(".error").html("<b>Error in Saving</b>").show();
                                $('html, body').animate({
                                    scrollTop: $(".error").offset().top - 100
                                }, 1000);
                            }
                        },
                        error: function(result) {
                            $(".error").html("<b>Error in Saving</b>").show();
                            $('html, body').animate({
                                scrollTop: $(".error").offset().top - 100
                            }, 1000);
                        }
                    });

    });
    });
</script>
<script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
<!-- END JAVASCRIPTS -->
{% endblock %}