{% extends 'admin/users/admin_base.html' %}

{% block css_page_level_plugin_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/plugins/select2/select2.css"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/plugins/select2/select2-metronic.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}admin/plugins/data-tables/DT_bootstrap.css"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block css_theme_styles %}
    <!-- BEGIN THEME STYLES -->
    <link href="{{ STATIC_URL }}admin/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}admin/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}admin/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ STATIC_URL }}admin/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
{% endblock %}
{% block content_body %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN STYLE CUSTOMIZER -->
            <div class="theme-panel hidden-xs hidden-sm">
                <div class="toggler">
                </div>
                <div class="toggler-close">
                </div>
                <div class="theme-options">
                    <div class="theme-option theme-colors clearfix">
						<span>
							 THEME COLOR
						</span>
                        <ul>
                            <li class="color-black current color-default" data-style="default">
                            </li>
                            <li class="color-blue" data-style="blue">
                            </li>
                            <li class="color-brown" data-style="brown">
                            </li>
                            <li class="color-purple" data-style="purple">
                            </li>
                            <li class="color-grey" data-style="grey">
                            </li>
                            <li class="color-white color-light" data-style="light">
                            </li>
                        </ul>
                    </div>
                    <div class="theme-option">
						<span>
							 Layout
						</span>
                        <select class="layout-option form-control input-small">
                            <option value="fluid" selected="selected">Fluid</option>
                            <option value="boxed">Boxed</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
							 Header
						</span>
                        <select class="header-option form-control input-small">
                            <option value="fixed" selected="selected">Fixed</option>
                            <option value="default">Default</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
							 Sidebar
						</span>
                        <select class="sidebar-option form-control input-small">
                            <option value="fixed">Fixed</option>
                            <option value="default" selected="selected">Default</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
							 Sidebar Position
						</span>
                        <select class="sidebar-pos-option form-control input-small">
                            <option value="left" selected="selected">Left</option>
                            <option value="right">Right</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
							 Footer
						</span>
                        <select class="footer-option form-control input-small">
                            <option value="fixed">Fixed</option>
                            <option value="default" selected="selected">Default</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- END STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        Tags &nbsp;
                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>

            </div>
            <!--Error block-->
            <div class="note note-success error">

            </div>
            {% if status == 'update_failed' %}
                <!--Success block-->
                <div class="note note-success">
                    Category not updated
                </div>
            {% endif %}

            {% if status == 'tag_update_failed' %}
                <!--Success block-->
                <div class="note note-success">
                    Tag not updated
                </div>
            {% endif %}

            {% if status == 'create' %}
            <!--Success block-->
            <div class="note note-success">
                 Successfully created
            </div>
            {% endif %}
            {% if status == 'delete' %}
                <!--Success block-->
                <div class="note note-success">
                    Successfully deleted
                </div>
            {% endif %}
            {% if status == 'tag_update_success' %}
                <!--Success block-->
                <div class="note note-success">
                    Tag updated.
                </div>
            {% endif %}

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row col-md-12">
            <form action="" method="post">{% csrf_token %}
                <div class="col-md-4">
                    <div>
                        <label class="control-label" for="title"><h4><b>Add New Tag</b></h4></label>
                    </div>
                    <div >
                        <label class="control-label" for="title">Name</label>
                    </div>
                    <div>
                        <input id="tag_name" name="tag_name" type="text" class="form-control"/>
                        <label><h6><i>The name is how it appears on your site.</i></h6></label>
                    </div>
                    <div >
                        <label class="control-label" for="title">Slug</label>
                    </div>
                    <div>
                        <input id="tag_slug" name="tag_slug" type="text" class="form-control"/>
                        <label><h6><i>The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</i></h6></label>
                    </div>
                    <div >
                        <label class="control-label" for="title">Description</label>
                    </div>
                    <div>
                        <textarea id="tag_description" name="tag_description" class="form-control" rows="2" >{{ description }}</textarea>
                        <label><h6><i>The description is not prominent by default; however, some themes may show it.</i></h6></label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-info" value="Add New Tag" id="btnaddnewtag" name="btnaddnewcategory"/>Add New Tag</button>
                    </div>
                </div>
            </form>
                <div class="col-md-8">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box light-grey" style="border:none !important">
                        <div class="portlet-body">
                            <!--this is the dropdown from metronic-->
                            <select class="" style="height:35px;" id="select_top">
                                <option>Bulk Actions</option>
                                <option>Delete</option>
                            </select> &nbsp;
                            <input type="button" class="btn btn-default" value="Apply" onclick="action('select_top')"/>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
                        <table class="table table-striped table-bordered table-hover" id="pagetable">
                            <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" data-set="#pagetable .checkboxes"/>
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Slug
                                </th>
                                <th>
                                    Posts
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tag in tag_list %}
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" id="{{ tag.term.id }}" class="checkboxes" name="chk" value="1"/>
                                    </td>
                                    <td>
                                        {{ tag.term.name }}<a href="{% url 'update_tag' tag.term.id %}" class="edit-left">Edit</a>
                                    </td>
                                    <td>
                                        {{ tag.description }}
                                    </td>
                                    <td class="center">
                                        {{ tag.term.slug }}
                                    </td>
                                    <td class="center">
                                        {{ tag.count }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <select class="" style="height:35px;" id="select_bottom">
                        <option>Bulk Actions</option>
                        <option>Delete</option>

                    </select> &nbsp;
                    <input type="button" class="btn btn-default" value="Apply" onclick="action('select_bottom')"/>
                    <label><h6><b>Note:</b></br>
                        <i>Deleting a category does not delete the posts in that category. Instead, posts that were only assigned to the deleted category are set to the category Uncategorized.</br>

                        Categories can be selectively converted to tags using the <a href="#">category to tag converter.</a></i></h6></label>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>

        </div>
        <!-- END CONTENT -->
    </div>
{% endblock %}
{% block js_page_level_plugins %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ STATIC_URL }}admin/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/plugins/data-tables/DT_bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}
{% block js_page_level_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ STATIC_URL }}admin/js/core/app.js"></script>
    <script src="{{ STATIC_URL }}admin/js/custom/table-managed-categories.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
{% block javascript %}
    <script>
        jQuery(document).ready(function() {
            App.init();
            TableManaged.init();
        });
        function action(e){
            var list_delete = new Array();
            var event = $('#'+e).val();
            if ( event == 'Delete'){
                $('input[name=chk]:checked').each(function()
                {
                    var id = $(this).attr('id');
                    list_delete.push(id);
                    {#              call ajax method here#}
                });
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "{%  url 'delete_tag' %}",
                    data:{list_delete:list_delete},
                    success: function (data) {
                        if(data==1)
                        {
                            data = eval(data);
                            window.location="{% url "create_tags" %}" + "?status=delete";
                        }
                        else
                        {
                            alert('Record can not be deleted because of associations');
                        }
                    },
                    error: function (data) {
                        alert("Error in deleting selected record")
                    }

                }); // End of ajax call

            }

            if ( event == 'Bulk Actions'){
                $('input[name=chk]:checked').each(function()
                {
                    var id = $(this).attr('id');
                    list_delete.push(id);
                    {#              call ajax method here#}

                });

            }

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

        }
    </script>
    <script>
        $('#btnaddnewtag').click(function () {
        var data = JSON.stringify($('form').serializeObject());
            alert(data);
        $(".error").empty();
        var parsedData = JSON.parse(data);
        var status = true;
        if ( !parsedData.tag_name){
            $(".error").append("Please enter a name.</br>").show();
            status = false;
        }

        if ( status == true){
            $(".error").hide();
            $.ajax( {
                type: "POST",
                dataType: "JSON",
                url: "{% url "create_tags" %}",
                data:{tags:data},
                success: function(result) {
                    if (result){
                        var error_code_length = result.error_codes.length;
                        var error_code_count = 0;
                        if (error_code_length == 0){
                            /* Everything is successful */
                            var status= 'create';
                            var url = "{% url 'create_tags' %}" + "?status=" + status;
                            window.location = url;

                        }
                        else{
                            /* We have got problems */
                            $(".error").empty();
                            $(".note-success").hide();
                            for(error_code_count=0; error_code_count<error_code_length; error_code_count++){
                                var error_code = result.error_codes[error_code_count];
                                if ( error_code == 1){
                                    $(".error").append("Please enter a name.</br>").show();
                                }
                                if ( error_code == 2){
                                    $(".error").append("Slug field is alredy exits.</br>").show();
                                }
                                if ( error_code == 3){
                                    $(".error").append("Error in creating new category</br>").show();
                                }
                            }

                        }
                    }
                },
                error: function(result) {
                    $(".error").append("Unknown Error").show();
                }
            });
        }
    });
    </script>
    <script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>

{% endblock %}
