<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.2.3.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/kriesi.js'></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style3.css" type="text/css" media="screen" />

</head>

<body>
<ul id="nav">
    <li><a href="#">1 HTML</a></li>
    <li><a href="#">2 CSS</a></li>
    <li><a href="#">3 Javascript </a>
      <ul>
            <li><a href="#">3.1 jQuery</a>
              <ul>
                    <li><a href="#">3.1.1 Download</a></li>
                    <li><a href="#">3.1.2 Tutorial</a></li>
              </ul>
            </li>
            <li><a href="#">3.2 Mootools</a></li>
            <li><a href="#">3.3 Prototype</a></li>
      </ul>
    </li>
	<li><a href="#">Programming Languages</a>
		<ul>
			    <li><a href="#">Python</a>
					<ul>
						<li><a href="#">Django</a>
						<li><a href="#">Flask</a>
						<li><a href="#">Web2py</a>
					</ul>
				</li>
				<li><a href="#">ASP.Net</a></li>
				<li><a href="#">Java</a></li>
				<li><a href="#">Erlang</a></li>
		</ul>
	</li>
</ul>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-785212-1");
pageTracker._trackPageview();
</script>
</body>
</html>
